# By default, Elastic Beanstalk sets the Spot Allocation Strategy
# to capacity-optimized. This means that if you want spot instances,
# the instance type that has greater priority is the one that has the least
# interruption time, given that Spot Instances are interruptible.

# The other value is lowest-price. Lowest Price will try to open the lowest
# instance available from the given list, regardless the instance type availability.

# Check this link for more details: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-autoscaling-autoscalinggroup-instancesdistribution.html#cfn-autoscaling-autoscalinggroup-instancesdistribution-spotallocationstrategy

Resources:
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Properties:
      MixedInstancesPolicy:
        InstancesDistribution:
          SpotAllocationStrategy: "capacity-optimized"
